@media screen and (min-width: 993px){
  .first{
    width:25% !important;
  }
  .second{
    width:75% !important;
  }
  .one{
    width:100% !important;
  }
  .two{
    width:100% !important;
  }
}

@media screen and (min-width: 601px) and (max-width: 992px){
  .first{
    width:100% !important;
  }
  .second{
    width: 100% !important;
  }
  .one{
    width: 50% !important;
  }
  .two{
    width:50% !important;
  }
}

@media screen and (max-width: 600px){
  .first{
    width:100% !important;
  }
  .second{
    width: 100% !important;
  }
  .one{
    width: 100% !important;
  }
  .two{
    width:100% !important;
  }
}
